@media screen and (max-width: 768px) {
    .feature-div {
        padding-bottom: 2rem;
    }
    
}
@media screen and (max-width: 1200px) {
    .swiper-button-next-unique, .swiper-button-prev-unique {
        cursor: pointer;
    }
    .swiper-button-prev {
        left: -1rem;
    }
    .feature-div {
        padding-bottom: 2rem;
    }
    
}

.swiper-pagination-bullet-active{
    background-color: #333333;
 }
.feature-icon {
    height: 40px;
    width: 40px;
    margin-bottom: 1rem;
}

.feature-div {
    p {
        font-size: 0.8rem;
        text-align: center;
    }
}